body, h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

html, body {
  height: 100%;
}

div#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 16px;
}

div.certification-list, div.project-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.certification-card, div.project-card {
  border: 1px solid black;
}

nav {
  display: flex;
  gap: 24px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding-top: 8px;
}

h2 {
  text-align: center;
}

main p {
  padding: 0 8px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 32px;
  border: 1px solid black;
  align-items: center;
  padding: 4px 0;
}