body, h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
}

header, footer {
  background: #1F2937;
  color: white;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.8rem;
}

h1.japanese {
  font-size: 1.6rem;
}

header a h1 {
  min-width: 256px;
}

h2 {
  font-size: 1.6rem;
}

h2.japanese {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

h2.list-header, h3.list-subheader {
  font-weight: 600;
}

h3.tech-cert-subheader {
  margin-top: 40px;
}

.home-text {
  text-align: center;
}

footer a.japanese {
  font-size: 0.9rem;
}

html, body {
  height: 100%;
  background: #E5E7EB;
  color: #18202b;
  font-family: "Assistant", serif;
}

div#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

div.hamburger-menu {
  cursor: pointer;
  font-size: 1.4rem;
  display: none;
}

button {
  padding: 4px 14px;
  border: none;
  border-radius: 7px;
  background: #3882F6;
  color: white;
  cursor: pointer;
}

button.japanese {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 0.8rem;
}

button:hover {
  border: 1px solid white;
}

button:active {
  filter: brightness(70%);
}

header nav a:hover, footer a:hover, a.back-to-list:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

a.back-to-list {
  background-color: white;
  padding: 6px 10px;
  border-radius: 8px;
}

a.back-to-list, div.certification-details, div.project-details {
  border: 1px solid rgb(31, 41, 55);
}

a.active-link {
  font-weight: bold;
}

div.certification-list, div.project-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div.certification-card, div.project-card, div.certification-details, div.project-details {
  border-radius: 10px;
  padding: 8px;
  background-color: white;
}

div.certification-card, div.project-card {
  border: 2px solid rgba(56, 130, 246, 0);
  width: 900px;
  box-shadow: 4px 4px rgba(31, 41, 55, 0.4);
}

div.certification-card {
  display: flex;
  justify-content: space-between;
}

div.text-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

div.project-card:hover {
  border-color: #3882F6;
}

div.certification-details {
  width: 900px;
}

div.project-details {
  width: 1150px;
}

div.project-details p, ul {
  font-size: 0.95rem;
}

img.screenshotURL, img.logoURL {
  display: block;
  margin: 8px auto;
  border: 2px solid #E5E7EB;
  border-radius: 10px;
}

img.screenshotURL, img.logoURL {
  max-height: 250px;
  width: auto;
}

.moreInfoURL, .certURL, .gitHubURL, .deploymentURL {
  justify-self: right;
}

p.moreInfo {
  justify-self: right;
  color: #28549b;
  padding: 0;
}

.moreInfoURL a, .certURL a, .gitHubURL a, .deploymentURL a {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgba(0, 0, 255, 0.9);
  display: flex;
  justify-content: center;
  gap: 4px;
}

nav {
  display: flex;
  gap: 24px;
}

div.not-found {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  min-width: 100%;
}

iframe {
  min-width: 60%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 16px;
  padding: 16px 6px 0;
}

main p, h3.title, h4.title {
  padding: 4px 8px;
}

div.certification-card p.organization {
  font-size: 0.9rem;
  font-style: italic;
}

h2.title, div.certification-card .title, div.project-card .title {
  font-weight: bold;
}

p.role span, p.takenInJapanese {
  font-weight: 600;
  color: #28549b;
}

footer {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
  padding: 12px 0;
  margin-top: 24px;
}

div.certification-details, div.certification-list, div.project-details, div.project-list {
  max-width: 90%
}

ul {
  margin-top: 0;
}

@media only screen and (max-width: 700px) {
  div.hamburger-menu {
    display: block;
    text-align: right;
  }

  nav {
    min-width: 96px;
  }

  .page-link {
    display: none;
  }

  a.open-link {
    display: block
  }

  nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  header {
    align-items: flex-start;
  }

  h1 {
    font-size: 1.3rem;
  }
  
  h1.japanese {
    font-size: 1.1rem;
  }

  header a.japanese {
    font-size: 0.9rem;
  }

  button {
    padding: 4px 8px;
  }

  button.japanese {
    padding-left: 6px;
    padding-right: 6px;
  }

  header a h1 {
    min-width: 180px;
  }

  h2.japanese {
    font-size: 1.4rem;
  }

  iframe {
    min-width: 95%;
  }

  img.screenshotURL {
    width: 90%;
  }

  img.logoURL {
    max-width: 90%;
  }

  .home-text {
    text-align: left;
  }

  div.certification-card, div.project-card {
    max-width: 80vw;
  }

  div.certification-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.project-details p, ul {
    font-size: 0.9rem;
  }
}